This is the group work by Sun Hee Park, Manling Yang

# Introduction

#### Bike Sharing service
Today, there are many ride-sharing companies that offer users to share car rides, or ride electric scooters or bikes. These companies are very popular, and Uber and Lyft are even called "unicorns," which are startup companies valued at over $1 billion. Lime or Birds, the electric scooter-sharing startup companies, are also popular in San Francisco, Chicago and even in Paris. However, bike sharing is the most worthy of notice to be analyzed now and even for the future. It is because people face practical and realistic problems when sharing and cars and electric scooters which do not exist when people share bikes.

  For example, with car sharing, people have to get a driver's license. They also have to have car insurance and they have to pay extra costs for gas or tiny scratches that might be occur while driving. Regarding electric scooters, safety is considered to be an issue. In California, Electric Scooter Helmet Laws took effect in 2019. However, it is hard to bring a helmet to ride an electric scooter because people usually take a scooter when they go shorter distances than when they go with a car or a bike.

A bike can solve these problems. People do not have to have a car insurance or a driver's license. A bike is also safer than an electric scooter. According to the Washington Post, two Los Angeles emergency departments, more people were injured while riding standing electric scooters than by riding bicycles or traveling on foot, according to the results of a groundbreaking study.

The Washington Post also showed that the medical journal JAMA Network Open mentioned “The Riders share roads with fast-moving vehicular traffic but appear to underestimate hazards; we found that 94.3% of observed riders in our community were not wearing a helmet,” the study said of scooter users. “While riders of electric scooters in California are required to be at least 16 years old by state law and 18 years old by company rental agreements, we found that 10.8% of electric scooter injuries were in patients younger than 18 years." The study added, Although California law required helmet use while operating electric scooters during the entire study period, only 4.4% of injured scooter riders were documented to be wearing a helmet."

# Research Question:

Along with increasing number of Bike-Sharing users, companies want to analyze their customer's data. They want to conduct marketing based on users who are mostly using the service. We expected that the companies assume main factors as 'time', 'age', and 'gender' for analyzing their data.

In addition, we are also going to compare popularity in using this service in two cities - Chicago and New York. Thus, the questions that we take into account are:
1. When (specific time) do people mostly use bike-sharing service?
2. Which age range of is mostly using bike-sharing service?
3. Which gender is the main users in both city?
4. Which city is more popular to use the bike sharing services?

# Data Analytics Workflow

1. The first data set('Chicago-Divvy-2016') is a CSV from Kaggle. 
(https://www.kaggle.com/samratp/bikeshare-analysis#Chicago-Divvy-2016.csv)
2. The second data ('NYC-BikeShare-2015-2017-combined') is a SQL file.

#### type one sources: read CSV file
1. define the csv, numpy, panda, seaborn, and matplotlib first
2. remove the unmeaningful columns from the dataset
3. print the results

#### The attribuates meaning of data sources one:
1. trip_id: the id of the trip
2. starttime: Time to star to use bike sharing services
3. stoptime: Time to stop to use bike sharing services
4. bikeid: the id of bike
5. tripduration: time in sec
6. from_station_id: The id of the bike station for people star to use bike sahring services
7. from_station_name: The name of the bike station for people star to use bike sahring services
8. to_station_id: The id of the bike station for people stop to use bike sahring services
9. to_station_name: The name of the bike station for people stop to use bike sahring services
10. usertype:the type of bike sharing's user
11. gender: the gender of bike sharing's user
12. birthyear: the birth year of bike sharing's user

### type two sources: scraped web page via html file
1. read the pathway to load the html
2. print the result

##### the attribuate of data sources two:
1. Trip Duration: unclear (unmeaningful data)
2. Start Time: Time to star to use bike sharing services
3. Stop Time： Time to stop to use bike sharing services
4. Start Station ID: The id of the bike station for people star to use bike sahring services
5. Start Station Name: The name of the bike station for people star to use bike sahring services
6. Start Station Latitude: The latitude of the bike station for people star to use bike sahring services
7. Start Station Longitude: The longtitude of the bike station for people star to use bike sahring services
8. End Station ID: The id of the bike station for people stop to use bike sahring services
9. End Station Name: The name of the bike station for people stop to use bike sahring services
10. End Station Latitude: The latitude of the bike station for people stop to use bike sahring services
11. End Station Longitude: The longtitude of the bike station for people stop to use bike sahring services
12. Bike ID: The id of the bike
13. User Type: the type of bike sharing's user
14. Birth Year: the birth year of bike sharing's user
15. Gender: the gender of bike sharing's user
16. Trip_Duration_in_min: The total minutes from star time and stop time

# Approach
In this project, we are going to investigate the ride-sharing market first to understand our data well. Then we will start analyzing the data from Kaggle to understand what are considered to be influential factors for the bike-sharing service.

After the investigation, we are going to cleanse NYC-BikeShare data because it includes data from 2015 and 2017 as well. We are going to use only data from 2016 to compare with Chicago data from 2016. After that, we will also cleanse both data because these data should have the same column names or the same types of attributes to be compared. Then we will store our data as CSV format on github.

To analyze our data, we would apply a histogram and a box plot to figure out time and age range that the bike-sharing service is mostly used from. After than, we are going to use bar, histogram, scatter, line graphes to figure out the third and the last question.

In [3]:
import csv 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
# read the data file from  SQL
#print the result
df1 = pd.read_csv('https://raw.githubusercontent.com/mandy941/final/master/Chicago-Divvy-2016.csv')
df1

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,9080545,3/31/2016 23:30,3/31/2016 23:46,2295,926,156,Clark St & Wellington Ave,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1990.0
1,9080521,3/31/2016 22:59,3/31/2016 23:02,3439,198,259,California Ave & Francis Pl,276,California Ave & North Ave,Subscriber,Male,1974.0
2,9080479,3/31/2016 22:24,3/31/2016 22:26,4337,124,344,Ravenswood Ave & Lawrence Ave,242,Damen Ave & Leland Ave,Subscriber,Female,1992.0
3,9080475,3/31/2016 22:22,3/31/2016 22:41,3760,1181,318,Southport Ave & Irving Park Rd,458,Broadway & Thorndale Ave,Subscriber,Female,1979.0
4,9080443,3/31/2016 22:08,3/31/2016 22:19,1270,656,345,Lake Park Ave & 56th St,426,Ellis Ave & 60th St,Subscriber,Female,1997.0
...,...,...,...,...,...,...,...,...,...,...,...,...
72126,12150369,10/01/2016 01:40,10/01/2016 01:43,1651,233,117,Wilton Ave & Belmont Ave,114,Sheffield Ave & Waveland Ave,Subscriber,Male,1971.0
72127,12150340,10/01/2016 01:21,10/01/2016 01:29,4803,472,123,California Ave & Milwaukee Ave,503,Drake Ave & Fullerton Ave,Subscriber,Female,1991.0
72128,12150249,10/01/2016 00:35,10/01/2016 00:53,3906,1069,90,Millennium Park,197,Michigan Ave & Madison St,Customer,NaN,NaN
72129,12150216,10/01/2016 00:19,10/01/2016 00:44,5882,1492,300,Broadway & Barry Ave,300,Broadway & Barry Ave,Subscriber,Male,1993.0
72130,12150187,10/01/2016 00:09,10/01/2016 00:19,490,624,144,Larrabee St & Webster Ave,152,Lincoln Ave & Diversey Pkwy,Subscriber,Male,1992.0

### type two sources: scraped web page via html file
1. read the pathway to load the html
2. print the result

##### the attribuate of data sources two:
1. Trip Duration: unclear (unmeaningful data)
2. Start Time: Time to star to use bike sharing services
3. Stop Time： Time to stop to use bike sharing services
4. Start Station ID: The id of the bike station for people star to use bike sahring services
5. Start Station Name: The name of the bike station for people star to use bike sahring services
6. Start Station Latitude: The latitude of the bike station for people star to use bike sahring services
7. Start Station Longitude: The longtitude of the bike station for people star to use bike sahring services
8. End Station ID: The id of the bike station for people stop to use bike sahring services
9. End Station Name: The name of the bike station for people stop to use bike sahring services
10. End Station Latitude: The latitude of the bike station for people stop to use bike sahring services
11. End Station Longitude: The longtitude of the bike station for people stop to use bike sahring services
12. Bike ID: The id of the bike
13. User Type: the type of bike sharing's user
14. Birth Year: the birth year of bike sharing's user
15. Gender: the gender of bike sharing's user
16. Trip_Duration_in_min: The total minutes from star time and stop time

In [ ]:
# drop the unmeaningful columns for the analysis
nyc = df.drop([])

According to the analysis of Chicago and New York City, we can know the overall bike-sharing situations and make a comparison analysis for people to know the difference between two cities. First of all, I will analysis the meaningful attributes by statistics summary and graph, including bar chart, histogram, and scatter plot. Then, connect to the analysis of Chicago that Sun did, I will compare the data from two cities to explore the difference of the bike-sharing service between Chicago and NYC.  I hope readers can get the overall bike-sharing information about the users' gender and usage rate.


 The analysis 
Question:
3. Which city is more popular to use the bike sharing services?
4. Which gender is the main users in both city?


# reference:
1. The good analysis sample for bike: https://www.kaggle.com/rajmehra03/bike-sharing-demand-rmsle-0-3194 and https://www.kaggle.com/sohamsave/bike-renting-analysis (we can copy some function from here)
2. dataset 1: https://www.kaggle.com/samratp/bikeshare-analysis#Chicago-Divvy-2016.csv
3. dataset 2:https://www.kaggle.com/akkithetechie/new-york-city-bike-share-dataset